<h1>StaticPages#homeルート画面</h1>

<p>
<%= link_to 'スクレイピング実行', "#"  %>
</p>


<p>
  <%= link_to 'アップデートを走らせる', items_path, :method => :update  %>
</p>

<p>
  <%= link_to 'nokogiri実行!!', :controller => "items", :action => "new"  %>
</p>
